footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    color: var(--color4);
    padding: 20px;
}

footer a {
    color: var(--color4);
    text-decoration: none;
    font-family: var(--paragraph-font);
    margin-right: 20px;
}

footer a:hover {
    text-decoration: underline;
    margin-right: 20px;
}