.logo {
    width: 80px;
    height: auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    color: var(--color4);
}

.header > h1 {
    padding: 20px;
    align-self: center;
}

.header > .menu-btn {
    align-self: center;
    margin: 20px;
    background-color: var(--color4);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--paragraph-font);
    font-weight: bold;
    font-size: 1.2em;
}

.menu-nav {
    display: none;
    justify-content: space-evenly;
    width: 200px;
    align-content: center;
    flex-wrap: wrap;
    font-family: var(--heading-font);
    background-color: var(--color3);
    transition: all 2s;
    width: 100%;
    border-top: 2px solid var(--color4);
}

.divider {
    border-right: 2px solid var(--color4);
}

.showH {
    display: flex;
}

.menu-nav a {
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    padding: 10px;
}