#intro {
  display: grid;
  grid-template-columns: 1fr;
}

#hero-img {
  opacity: 35%;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-height: 450px;
  object-fit: cover;
}

#intro > p {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  justify-self: center;
  align-self: center;
  width: 80%;
  font-size: 1.2em;
  font-weight: bold;
}

hr {
  margin: 10px 0px;
  border: 2px solid var(--color1);
  border-radius: 5px;
}

.no-watchlist-msg, .no-ratings-msg {
  margin-top: 10px;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px;
}

#content img {
  width: 100%;
  max-width: 100px;
  margin: 10px;
  border-radius: 5px;
}

.movie-container {
  display: flex;
  margin: 20px 0px;
  background-color: var(--color2);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.movie-info {
  margin: 10px;
}

@media screen and (min-width: 700px) {
  #content {
  grid-template-columns: 1fr 1fr;
  }

  #intro > p {
    font-size: 1.5em;
  }
}