#movie-main {
    display: flex;
}

.movie-poster {
    width: 200px;
    height: 266px;
    padding: 50px 10px;
}

.movie-info h1 {
    padding: 40px 0px 5px 0px;
    font-size: 1.75em;
}

.movie-info h2 {
    padding-left: 10px;
    font-size: 1.2em;
    font-weight: 100;
}

.movie-info h3 {
    padding-bottom: 7px;
    font-weight: 100;
    font-size: 1.07em;
}

.rating {
    padding: 10px 0 25px 0;
}

.rateWrapper {
    position: relative;
    display: inline-block;
}

.movie-actions button {
    background-color: var(--color3);
    color: black;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.rateIt {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100px;
}

.rateIt button {
    width: 47px;
    padding-left: 0;
    font-size: .8em;
    background-color: var(--color2);
}

.show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 20%;
}

:focus {
    outline-offset: 6px;
}

@media screen and (min-width: 500px) {
    .movie-poster {
        width: 300px;
        height: 400px;
    }

    .movie-info h1 {
        padding: 40px 0px 5px 0px;
        font-size: 2em;
    }

    .movie-info h2 {
        font-size: 1.35em;
    }

    .movie-info h3 {
        font-size: 1.17em;
    }
}

@media screen and (min-width: 1000px) {
    .movie-actions button {
        margin-top: 20px;
        margin-right: 20px;
        font-size: .9em;
    }
}