#main-search {
    margin: 20px;
}

#search-banner {
    display: grid;
}

#s-banner-img {
    z-index: -1;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.search {
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
}

label {
    grid-column: 1/2;
    grid-row: 1/2;
}

#searchbox {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
}

#searchbox input {
    flex: 1;
}

#searchbox button img {
    width: 25px;
}

#search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.result img {
    width: 50px;
    border-radius: 5px;
}

input, form {
    font-family: var(--paragraph-font);
    border: none;
}

.search input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    font-size: 1em;
    padding: 5px;
}

/* This just puts more space between the searchbox border and the magnifying glass image */
.search button {
    border: 2px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#main-search {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

#search:focus {
    outline: none;
}

.loading-msg {
    grid-column: 1 / 6;
    text-align: center;
}

#search-results {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 150px;
}

.result {
    background-color: var(--color2);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    cursor: pointer;
    color: white;
}

.result img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
}

@media screen and (min-width: 410px) {
    #search-results {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 600px) {
    #search-results {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 770px) {
    #search-results {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1050px) {
    #search-results {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}