/* https://coolors.co/084c61-9c3e85-ef5b5b-faf3dd  */
@import 'partials/header.css';
@import 'partials/footer.css';
@import 'home.css';
@import 'movie.css';
@import 'search.css';

@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --color1: #084C61;
    --color2: #9C3E85;
    --color3: #EF5B5B;
    --color4: #FAF3DD;
    --heading-font: "Cantata One", Georgia, "Times New Roman", serif;
    --paragraph-font: "Nunito Sans", "Calibri", sans-serif;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
}

button {
    cursor: pointer;
}

.loading-msg-s, .loading-msg-m {
    text-align: center;
    width: 100%;
    align-self: center;
    grid-column: 1 / 6;
}

/* Some styling for the landing page from GitHub */
.root-index-body {
    background-color: #084C61;
}

.root-index-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3em;
}

.root-index-section {
    background-color: #EF5B5B;
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
}

.root-index-section a {
    color: black;
    font-family: var(--paragraph-font);
}

.root-index-section a:hover {
    color: #084C61;
}